.contact-list h2 {
    top: 7rem;
    position: sticky;
    background-color: limegreen;
}

.boxes {
    margin: 1.5rem 0;
    position: relative;

    display: none;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box + span {
    display: none;
}

.box {
    flex: 30%;
    height: 10rem;
    width: 20rem;
    padding: 1.5rem;
    background-color: blue;
    color: #fff;
    border: 10px solid red;
    border-radius: 0.4rem;
}

.box p {
    font-size: 5rem;
}

.box:nth-child(1) {
    float: none;
}

.box + span {
    clear: both;
}

/* .box:nth-child(1) {
    position: absolute;
    top: 30px;
    left: 100px;
} */

/* .box:nth-child(2) {
    position: fixed;
    top: 15px;
    left: 30px;
} */

.box:nth-child(n + 2) {
    /* display: none; */
}

.box:nth-child(1), .box:nth-child(2) {

}

.box:nth-child(3) {

}

.boxes p {
    display: inline;
}

img {
    clear: both;
    height: 10rem;
    width: 14rem;
    object-fit: cover;
}

#companies-table {
    /* display: none; */
}

[data-company="GCO"] {
    background-color:aqua ;
}

@media screen and (min-width: 1000px) {
    
}